*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
    box-sizing: border-box;
    
}

.container {
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(120deg, rgb(43, 0, 143), rgb(140, 8, 192));
    padding: 10px;
}

.todo-app{
    width: 100%;
    max-width: 500px;
    background: white;
    margin: 100px auto 0px;
    padding: 40px 35px 70px;
    border-radius: 10px;

}

.todo-app h2{
    color:rgb(43, 0, 143) ;
    display:flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 30px;
    margin-left: 10px;
}

.add-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(216, 216, 216);
    border-radius: 40px;
}

.add-area input{
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 15px;
}

.add-area button {
    border: none;
    outline: none;
    padding: 20px 30px;
    background: rgb(255, 81, 0);
    color:white;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
}

ul li{
    list-style: none;
    font-size: 15px;
    padding: 20px 8px 12px 50px;
    user-select: none;
    position: relative;
    cursor: pointer;
}

ul li::before {
    content: '';
    position: absolute;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    left: 13px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(./images/checked.png)
}

ul li span{
    position: absolute;
    right: 0;
    top: 15px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    text-align: center;
    line-height: 40px;
    border-radius: 50px;
}

ul li span:hover{
background:#edeef0;
}